<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</head>
<body>
    

    <style>
        #preview{
           width: 300px;
           height: 500px;
           margin:0px auto;
          position: relative;
          top: 120px;
          left: 40px;
        </style>
        <video id="preview"></video>

        <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<script type="text/javascript">
    var scanner = new Instascan.Scanner({ video: document.getElementById('preview'), scanPeriod: 5, mirror: false });
    scanner.addListener('scan',function(content){
        var inputcontent = content;
        document.getElementById("id_qrtext").value = inputcontent;

        //window.location.href=content; 
    });
    Instascan.Camera.getCameras().then(function (cameras){
        if(cameras.length>0){
            scanner.start(cameras[1]);
        }else{
            console.error('No cameras found.');
            alert('No cameras found.');
        }
    }).catch(function(e){
        console.error(e);
        alert(e);
    });
</script>

<div class="form-group">
<form action="" method="post" validate  style="margin-top:150px;position:relative;left:100px;">
  {% csrf_token %}
  <label for="{{ form.qrtext.id_for_label }}">{{ form.qrtext.label }}</label><br>
  {{ form.qrtext }}<br><br>
  <label for="{{ form.registrar.id_for_label }}">{{ form.registrar.label }}</label><br>
  {{ form.registrar }}<br><br>
  <button style="padding:5px; position:relative; left:70px;" type="submit" value="Submit" >Submit</button>
</form>
</form>

  <br>
    <br>
    <a type="button" class="btn btn-outline-primary" href="{% url 'logout' %}">Logout</a>
</body>
</html>